#board {
  width: 600px;
}

.square {
  float: left;
  height: 50px;
  width: 50px;
}

.empty-square {
  color: red;
  font-size: 50px;
  text-align: center;
}

.full-square {
	background: black;
}

.goal {
	background: yellow;
}
